.vscode/**
.vscode-test/**
src/**
test/**
webview/**
docs/**
site/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
esbuild.config.js
*.vsix
.mockserver/**
.specter/**
**/.mockserver/**
**/.specter/**
vitest.config.ts
*.md
!README.md
dist/*.map
.DS_Store
sharp/**
