.vscode/**
.vscode-test/**
src/**
test/**
webview/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
esbuild.config.js
*.vsix
